<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lazy Loading</title>
  <style>
    body {
      text-align: center
    }
  </style>
</head>

<body>
  
  {% if url %}
      <p>{{ url }}</p>
      <p>Page is loading, please wait...</p>
      <p>[{{ ttl }}]</p>
      <script>
          setTimeout(function () {
              top.location.reload()
          }, '{{ polling_seconds }}' * 1000)
      </script>
  {% else %}
      Lazy page not found! Maybe `page_id` is wrong or the page is expired!
  {% endif %}

  <p>
    <a href="#" onclick="history.back(-1);">&lt;&lt;Back</a>
  </p>


</body>
</html>
